@page
@model ELearnApp.Pages.Error.Page403

@{
    Layout = "Shared/_Layout";
}
<style>.svg{max-height: 50vh; max-width: 500vw} </style>

<div class="container d-flex flex-column text-center justify-content-center align-items-center mt-5">

    <img class="svg" src="/Assets/Errors/Pirate_skull.svg" alt="Unauthorized" />
    <h1>Avast, ye scallywag! Ye be treading on forbidden waters.</h1>
</div>