@page
@model ELearnApp.Pages.Error.Page404

@{
    Layout = "Shared/_Layout";
}



<style>.svg{max-height: 50vh; max-width: 500vw} </style>

<div class="container d-flex flex-column text-center justify-content-center align-items-center mt-5">

    <img class="svg" src="/Assets/Errors/Map.svg" alt="Unauthorized" />
    <h1>Shiver me timbers! The treasure ye be seekin' ain't here</h1>
</div>