@page
@model ELearnApp.Pages.Error.Page500

@{
    Layout = "Shared/_Layout";
}

<style>.svg{max-height: 50vh; max-width: 500vw} </style>

<div class="container-fluid d-flex flex-column text-center justify-content-center align-items-center mt-5">
    <img src="/Assets/Errors/parrot.svg" alt="Bad Request"/>
    <h1>Arrr! We be facin' some technical difficulties. Please try again later.</h1>
</div>