@page
@model ELearnApp.Pages.Instructor.Index

@{
    Layout = "Shared/_InstructorLayout";
}


<div class="container">
    <div class="row m-2">
        <div class="col-md-12">
            <h2 class="text-center">Welcome to Instructor Dashboard</h2>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Courses Statistics</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Number of students</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var course in Model.InstructorCoursesStatistics!)
                        {
                            <tr>
                                <td >
                                    <img class="rounded-circle profile-img" src="@course.Course.imgsrc"/>
                                    
                                </td>
                                <td class="fw-light">@course.Course.title</td>
                                <td class="fw-bold">@course.NumberOfStudents.ToString()</td>
                                @* ADD LINK TO COURSE DETAILS? *@
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>