@page
@model ELearnApp.Pages.Profile.ConfirmAccount

@{
    Layout = "Shared/_Layout";
    ViewData["title"] = "Account Confirmation";
}


  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <h1 class="card-title">Account Confirmed</h1>
            <p class="card-text">Your account has been successfully confirmed.</p>
            <p class="card-text">You can now log in to your account and start using our services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>